body {
    background-image: url('../assets/Desktop_Backgrounds.png');
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    margin-top: 6vw;
    overflow-x: hidden;
    background-size: 100vw 120vw;
  }

  .divBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .bigLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    margin-top: 10vw;
    transform: rotateY(0deg) scale(1);
    transition: transform 1.0s;
  }
  
  .bigLogo:hover {
    transform: rotateY(180deg) scale(1.5);
  }
  
  .headerBigText,
  .headerSmallText {
    text-align: center;
  }

  .headerBigText {
    font-family: Oswald;
    font-size: 10vw;
    font-weight: 700;
    line-height: 15vw;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }

  .headerSmallText {
    font-family: Source Sans Pro;
    font-size: 4vw;
    font-weight: 400;
    line-height: 5vw;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }

  .divArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
  }

.mainTextOnMainPart {
  display: grid;
}

  .mainBigText {
    font-family: Oswald;
    font-size: 10vw;
    font-weight: 700;
    line-height: 10vw;
    letter-spacing: 0em;
    text-align: center;
    color:#464547;
    width: 75vw;
  }

  .mainSmallText {
    font-family: Source Sans Pro;
    font-size: 4.5vw;
    font-weight: 400;
    line-height: 5vw;
    letter-spacing: 0em;
    text-align: center;
    color: #666666;
    width: 78vw;
  }

  .mainDescribeText {
    font-family: Source Sans Pro;
    font-size: 3vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    color:66666;
    width: 80vw;
  }

  .firstButton {
    font-family: Oswald;
    width: 16vw;
    height: 6vw;
    border: none;
    background-color: #55C2D8;
    border-radius: 3vw;
    color: white;
    margin-top: 1vw;
    font-size: 2vw;
    transition: transform 0.3s;
  }


  .firstButton:hover {
    transform: rotate(10deg) translateY(10%);
  }

  .divLastPart {
    background-image: linear-gradient(
    rgba(140, 79, 42, 0.3),
    rgba(140, 79, 42, 0.3)
    ), url('../assets/Desktop_Backgrounds_2.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -1vw;
    margin-right: -1vw;
    margin-top: 6vw;
    overflow-x: hidden;
    transition: background-color 0.3s ease;
    background-size: 100vw 120vw;
    height: 120vw;
    }

  .mainMoreBigText {
    font-family: Oswald;
    font-size: 8vw;
    font-weight: 700;
    line-height: 10vw;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }


  .secondButton {
    width: 25vw;
    height: 25vw;
    background: #39C2D7;
    color: #FFFFFF;
    border-radius: 27vw;
    font-size: 12vw;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .secondButton:hover {
    transform: scale(0.95);
    background-color: #FFFFFF;
    color: #39C2D7;
  }
  
  .secondButton:hover::before,
  .secondButton:hover::after {
    background-color: #39C2D7;
  }

  .mainMoreSmallText {
    font-family: Source Sans Pro;
    font-size: 4vw;
    font-weight: 400;
    line-height: 6vw;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    width: 80vw;
  } 
  

  /* ___________________________________________________________________ */
@media screen and (min-width: 768px) {
  body {
    background-image: url('../assets/Desktop_Backgrounds.png');
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 6vw;
    overflow-x: hidden;
  }

  .divBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }

  .bigLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    margin-top: 30vw;
  }
  
  .headerBigText,
  .headerSmallText {
    text-align: center;
  }

  .headerBigText {
    font-family: Oswald;
    font-size: 4vw;
    font-weight: 700;
    line-height: 5vw;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }

  .headerSmallText {
    font-family: Source Sans Pro;
    font-size: 2vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }

  .divArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40vw;
  }

.mainTextOnMainPart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vw;
}

  .mainBigText {
    font-family: Oswald;
    font-size: 4vw;
    font-weight: 700;
    line-height: 5vw;
    letter-spacing: 0em;
    text-align: center;
    color:#464547;
  }

  .mainSmallText {
    font-family: Source Sans Pro;
    font-size: 2vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: center;
    color: #666666;
  }

  .mainDescribeText {
    font-family: Source Sans Pro;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.5vw;
    letter-spacing: 0em;
    color:66666;
    width: 27vw;
  }

  .firstButton {
    font-family: Oswald;
    width: 8vw;
    height: 3vw;
    border: none;
    background-color: #55C2D8;
    border-radius: 1.5vw;
    color: white;
    margin-top: 1vw;
    font-size: 1vw;
  }

  .divLastPart {
    background-image: linear-gradient(
    rgba(140, 79, 42, 0.3),
    rgba(140, 79, 42, 0.3)
    ), url('../assets/Desktop_Backgrounds_2.png');
    /* background-size: cover; */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -1vw;
    margin-right: -1vw;
    margin-top: 6vw;
    overflow-x: hidden;
    transition: background-color 0.3s ease;
    background-size: 100vw 60vw;
    height: 60vw;
    }

  .mainMoreBigText {
    font-family: Oswald;
    font-size: 4vw;
    font-weight: 700;
    line-height: 5vw;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }


  .secondButton {
    width: 14vw;
    height: 14vw;
    background: #39C2D7;
    color: #FFFFFF;
    border-radius: 15vw;
    font-size: 7vw;
  }

  .mainMoreSmallText {
    font-family: Source Sans Pro;
    font-size: 2vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  } 

}
  
  
  

